{% extends 'core.html' %}
{% block title %}Watchable{% endblock title %}
{% block body %}
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">OtakuOverlord</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for("kill") }}">stop omxplayer</a></li>
          <li><a>{{ addable }} new</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li><a href="{{ url_for("kill") }}">stop omxplayer</a></li>
          <li><a>{{ addable }} new</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <script>$(".button-collapse").sideNav();</script>
      </div>
    </nav>
    <main>
        <div class="row">
          {% for name in sorted(animes) %}
          <div class="col s6 m4 l2">
            <div class="card {{ colorize.current }} {% if animes[name].seen %}darken-4{% else %}lighten-2{% endif %}" style="max-height:300px">
              <div class="card-image waves-effect">
                <img class="activator" src="/datanime/{{ animes[name]['series'] }}/cover.jpg">
                <span class="card-title flow-text activator">
                  <span class="{{ colorize.current }} {% if animes[name].seen %}darken-4{% else %}lighten-2{% endif %}">{{ animes[name]['series'] }} {{ animes[name]["episode"] }}</span>
                  <span class="right">
                    {% if animes[name].keep %}<a class="btn-floating {{ colorize.current }}"><i class="mdi-social-whatshot" title="Unremovable"></i></a>{% endif %}
                    <a class="btn-floating {{ colorize.current }}"><i class="{% if animes[name].seen %}mdi-toggle-check-box" title="Seen{% else %}mdi-av-queue" title="Not seen{% endif %}"></i></a>
                  </span>
                </span>
              </div>
              <div class="card-reveal {{ colorize.next() }}">
                <span class="card-title">{{ animes[name]['series'] }} {{ animes[name]["episode"] }}</span>
                <hr>
                <a class="btn waves-effect" href="/anime/{{ name }}/videoplayback" title="Get file"><i class="mdi-file-cloud"></i></a><br>
                <a class="btn waves-effect" href="{{ url_for("watch", anime=name) }}" title="Launch on Pi"><i class="mdi-hardware-cast"></i></a><br>
                <a class="btn waves-effect{% if animes[name].seen %} disabled{% else %}" href="{{ url_for("scrobble", anime=name) }}{% endif %}" title="Mark as seen"><i class="mdi-toggle-check-box"></i></a>
                <a class="btn waves-effect{% if animes[name].keep or not animes[name].seen %} disabled{% else %}" href="{{ url_for("remove", anime=name) }}{% endif %}" title="Remove from server"><i class="mdi-content-remove-circle"></i></a>
                <blockquote data-anime="{{ animes[name].series }}"></blockquote>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </main>
    <script>
      $(document).ready(function() {
        {% for serie in series %}
        $('blockquote[data-anime="{{ serie|safe }}"]').load("/datanime/{{ serie|urlencode }}/desc.txt");
        {% endfor %}
        {% with messages = get_flashed_messages() %}{% if messages %}
        {% for message in messages %}
        Materialize.toast("%s", 4000);
        {% endfor %}
        {% endif %}{% endwith %}
      });
    </script>
{% endblock body %}
